body{

}

.main_container {
    position: relative;
    width: 900px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 75px;
    border-radius: 35px;
    background-color: lightblue;
    font-family: "Arial Black";
}


/*---------------------------- МЕНЮ ----------------------------------*/

menu{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 20px;
    border-radius: 10px;
    background-color: peachpuff;
}

menu ul{
    margin-left: 20px;
    padding: 0;
    list-style: none;
}

menu ul li{
    display: inline;
}

menu ul li::after{
    content: " | ";
}

menu ul li:last-child::after{
    display: none;
}

/*--------------------------------------------------------------------*/


footer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: darkgray;
    bottom: 0;
}

textarea{
    width: 100%;
    height: 500px;
    resize: none;
}

